mixin logo(svgId, svgWidth, svgHeight, transform)
  - var pink = "#C9518A"
  - var green = "#39B7C4"
  - var blue = "#586086"
  svg(id=svgId, width=svgWidth, height=svgHeight, version="1.1", xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
    g(transform=transform)
      path(d="M-76,25.259 L-43.462,44.068 L-43.462,93.818 L-76,112.525 L-76,25.259 z" fill=blue)
      path(d="M-76,-113.688 L-43.462,-132.667 L-43.462,-45.401 L-76,-25.498 L-76,-113.688 z" fill=green)
      path(d="M-76,25.259 L44.492,-44.181 L77,-25.498 L-43.462,44.068 z" fill=green)
      path(d="M-43.462,-94.914 L-43.462,-132.667 L76.901,-63.008 L77,-25.498 L-43.462,-94.914 z" fill=pink)
      path(d="M-76,112.525 L44.492,43.085 L77,61.768 L-43.462,131.333 z" fill=pink)
      path(d="M-76,-25.498 L-43.462,-45.401 L76.902,24.257 L77,61.768 L-76,-25.498 z" fill=blue)

- var title = "bildepunkt"

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width")
    meta(name="description", content="A microcosm of geekery ~ The development & design portfolio of Chris Peters")
    title #{title}
    link(rel="apple-touch-icon", href="apple-touch-icon.png?v=3", sizes="180x180")
    link(rel="icon", type="image/png", href="favicon-16x16.png?v=3", sizes="16x16")
    link(rel="icon", type="image/png", href="favicon-32x32.png?v=3", sizes="32x32")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|PT+Sans")
    link(rel="stylesheet", href="build/main.css")
  body
    include ./header.jade
    include ./nav.jade
    include ./about.jade
    include ./footer.jade
    script(src="build/main.js")
